.DS_Store
.metadata
bin/
gen/
out/
tmp/
proguard/
proguard_logs/
*.apk
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.project
.settings/
.loadpath
.externalToolBuilders/
.launch
.cproject
.buildpath

# IntelliJ files
.idea/
*.iml

.gradle/
build/

google_maps_api*.xml

*.keystore
riista.properties
google-services.json
